on:
  release:
    types:
      - published
  workflow_dispatch:

name: Create release

jobs:
  # Build & test simple source release before wasting hours building and
  # testing the binary build matrix.
  sdist:
    name: Creating source release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Setting up Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: "3.9"

      - name: Installing python build dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools

      - name: Building source distribution
        run: |
          pip install -e "."
          pip install pytest build
          python -m build . --sdist

      - name: Running tests
        run: |
          pytest

      - uses: actions/upload-artifact@v6.0.0
        with:
          name: dist-sdist
          path: dist/*.tar.gz

  build_wheels:
    needs: [sdist]
    name: "[${{ strategy.job-index }}/${{ strategy.job-total }}] py${{ matrix.py }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    env:
      MACOSX_DEPLOYMENT_TARGET: 10.15

    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-22.04, windows-2022, macos-15]
        py: ["cp39", "cp310", "cp311", "cp312", "cp313", "cp314"]

    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-python@v6.2.0
        name: Setting up Python
        with:
          python-version: "3.9"

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3.7.0
        with:
          platforms: all

      - name: Build & test wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_ARCHS_LINUX: auto aarch64 ppc64le s390x
          CIBW_ARCHS_MACOS: x86_64 arm64 universal2
          CIBW_BUILD: "${{ matrix.py }}-*"
          CIBW_TEST_SKIP: "*_arm64 *_universal2:arm64"

      - uses: actions/upload-artifact@v6.0.0
        with:
          name: dist-${{ matrix.os }}-${{ matrix.py }}
          path: ./wheelhouse/*.whl

  upload_all:
    needs: [build_wheels, sdist]
    name: Uploading built packages to pypi for release.
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v7.0.0
      with:
        pattern: dist-*
        merge-multiple: true
        path: dist

    - uses: pypa/gh-action-pypi-publish@v1.13.0
      with:
        user: ${{ secrets.PYPI_USERNAME }}
        password: ${{ secrets.PYPI_PASSWORD }}
